* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 30px;
    color: #2d174d;
    background: linear-gradient(
            to right,
            #8b5cf6,
            #3b82f6
    );
}

.bestillingskort {
    width: 800px;
    max-width: 100%;
    padding: 30px;
    background-color: white;
    border: 2px solid #d8b4fe;
    border-radius: 40px;
    box-shadow: 0 10px 30px #4c1d95;
}

.sidetittel {
    margin-top: 0;
    color: #6d28d9;
    text-align: center;
}

.bestillingsskjema {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.kundeseksjon {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.feltgruppe {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.feltetikett {
    font-weight: bold;
}

.tekstfelt {
    padding: 10px;
    border: 1px solid #a78bfa;
    border-radius: 8px;
    box-shadow: 0 2px 7px #4c1d95;
}

.valgfelt {
    padding: 10px;
    border: 1px solid #a78bfa;
    border-radius: 8px;
    box-shadow: 0 2px 7px #4c1d95;
}

.menyseksjon {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menygruppe {
    padding: 15px;
    background-color: #f5f3ff;
    border: 1px solid #c4b5fd;
    border-radius: 10px;
    box-shadow: 0 2px 7px #4c1d95;
}

.gruppetittel {
    margin: 0 0 10px;
    color: #6d28d9;
    font-weight: bold;
}

.valgliste {
    display: flex;
    align-items: center;
    gap: 8px;
}


.sendknapp {
    align-self: center;
    padding: 12px 30px;
    color: white;
    font-size: 16px;
    background-color: #6d28d9;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 10px #c4b5fd;
}

.kortfelt {
    padding: 10px;
    border: 1px solid #a78bfa;
    border-radius: 8px;
    box-shadow: 0 2px 7px #4c1d95;
}


.registrering_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 30px;
    color: #2d174d;
    background: linear-gradient(
            to right,
            #d1fae5,
            #6ee7b7
    );
);


}

.registrering {
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 100%;
    padding: 20px;
    background-color: #E9D5FF;
    border: 2px solid #d8b4fe;
    border-radius: 20px;
    box-shadow: 0 10px 30px #4c1d95;
    text-align: center;
    align-content: center;
    align-items: center;
}


.tilbakeknapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    color: white;
    background-color: #6d28d9;
    text-decoration: none;
    border-radius: 8px;
}

